Cargo.lock
target

# KiCAD files
*.lck
*.zip
_autosave*
fp-info-cache

# FreeCAD backup files
*.FCBak
/hardware/production/
/hardware/.history
*.uf2

# FFI headers
*.h

# python environment
.env
*.pyc
